HL_ACCOUNT_ADDRESS=0x981e955b2BE4Db59397a26F3Bc1bf53943c6760d
HL_SECRET_KEY=0x63e12bc3cae2efb6bba238df84b27a5f16d527422a6ecb758877d5edb26418bf
HL_NETWORK=testnet   # "mainnet" or "testnet"

BOT_SYMBOLS=BTC,ETH
BASE_RISK_PCT=0.02
DAILY_LOSS_LIMIT_PCT=0.05
MAX_CONCURRENT_POS=2
MAX_LEVERAGE=5
DRY_RUN=1
