HL_ACCOUNT_ADDRESS=0xYourPublicAddress
HL_SECRET_KEY=your_api_wallet_private_key
HL_NETWORK=testnet   # "mainnet" or "testnet"

BOT_SYMBOLS=BTC,ETH
BASE_RISK_PCT=0.02
DAILY_LOSS_LIMIT_PCT=0.05
MAX_CONCURRENT_POS=2
MAX_LEVERAGE=5
DRY_RUN=1
